@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
.bs {
    /* Flip an image horizontally */
    .img-flip-x {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    /* Flip an image vertically */
    .img-flip-y {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}

/* Set white background & alignment for footer */
#footer nav {
    background-color: #fff !important;
    padding: 0 !important;
}

/* Assign styling to the loading-dialog */
#loading-dialog {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw;
    z-index: 2010;
    div.d-flex {
        align-items: center;
        background-color: #FFF;
        border-radius: 0.3rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        margin: 30vh 30vw;
        div[role=status] {
            color: #0078d4 !important;
            height: 3rem;
            width: 3rem;
        }
    }
}

/* Assign styling to the loading-dialog-backdrop */
#loading-dialog-backdrop {
    background-color: #000;
    height: 100vh;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2000;
}

/* Customize navigation alignment */
#footer, #navigation, #sub-navigation {
    nav div.container-fluid {
        padding-right: 0.75rem;
    }
}

/* Customize sub-navigation element */
#sub-navigation nav.sub-nav {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border: 3px solid #dee2e6;
    border-top: 0;
}
