@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
:root {
    /* Colors */
    $item-form-tab-active: var(--sp-white, #ffffff);
    $item-form-tab-valid: var(--sp-success-icon, #107c10);
    $item-form-tab-invalid: var(--sp-error-icon, #a80000);
}

.bs {
    /* Flip an image horizontally */
    .img-flip-x {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    /* Flip an image vertically */
    .img-flip-y {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    /* Item Form - Tabs */

    /* Tab icon placement */
    .list-group-item.is-valid, .list-group-item.is-invalid {
        background-position: right calc(0.375em + 0.1875rem) center;
        background-repeat: no-repeat;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        padding-right: calc(1.5em + 0.75rem);
    }

    /* Tab is valid */
    .list-group-item.is-valid {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23107c10' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
    }

    /* Active tab is valid */
    .list-group-item.is-valid.active {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='%23FFFFFF' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
    }

    /* Tab is invalid */
    .list-group-item.is-invalid {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23a80000'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23a80000' stroke='none'/></svg>");
    }

    /* Active tab is invalid */
    .list-group-item.is-invalid.active {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FFFFFF'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='%23FFFFFF' stroke='none'/></svg>");
    }
    /* Styles for the ListSecurity Form  */
    .list-security-form {
        display: grid;
        justify-content: center;
    }
}

/* Set white background & alignment for footer */
#footer nav {
    background-color: var(--sp-white, #ffffff) !important;
    padding: 0 !important;
}

/* Assign styling to the loading-dialog */
#loading-dialog {
    left: 50%;
    top: 50%;
    min-width: 80vw;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2010;
    div.d-flex {
        align-items: center;
        background-color: var(--sp-white, #ffffff);
        border-radius: 0.3rem;
        border: 1px solid color-mix(in srgb, var(--sp-black, #000000), transparent 20%);
        background-clip: padding-box;
        margin: 30vh 30vw;
        div[role=status] {
            color: var(--sp-theme-primary, #0078d4) !important;
            height: 3rem;
            width: 3rem;
        }
    }
}

/* Assign styling to the loading-dialog-backdrop */
#loading-dialog-backdrop {
    background-color: var(--sp-black, #000000);
    height: 100vh;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2000;
}

/* Customize navigation alignment */
#footer, #navigation, #sub-navigation {
    nav div.container-fluid {
        padding-right: 0.75rem;
    }
}

/* Customize sub-navigation element */
#sub-navigation nav.sub-nav {
    background-color: var(--sp-neutral-lighter, #f3f2f1) !important;
    border: 3px solid var(--sp-neutral-quaternary, #d2d0ce);
    border-top: 0;
}
