@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
.bs {
    /* Color match links to 'SharePoint Blue' */
    a, .link-primary {
        color: #0078d4;
    }
    /* Color match hover links */
    a:hover, a:focus, .link-primary:hover, .link-primary:focus {
        color: #004c86;
    }
    /* Color match active links */
    a:active, .link-primary:active {
        color: #c4e4ff;
    }
    /* Color match accordion on focus */
    .accordion-button:focus {
        border-color: #2d8ad6;
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.25);
    }
    /* Color match accordion while expanded */
    .accordion-button:not(.collapsed) {
        background-color: #c4e4ff;
        color: #0078d4;
    }
    /* Create a reusable 'SharePoint Blue' background color */
    .bg-sharepoint {
        background-color: #0078d4 !important;
    }
    /* Color match the primary button to 'SharePoint Blue' */
    /* Don't reorder the btn-primary classes. It breaks active colors. */
    .btn-primary, .btn-primary:disabled, .btn-primary.disabled {
        background-color: #0078d4;
        border-color: #0078d4;
    }
    /* Color match the primary button hover */
    .btn-primary:hover {
        background-color: #004c86;
        border-color: #004c86;
    }
    /* Color match primary outline button */
    .btn-outline-primary, .btn-outline-primary:disabled, .btn-outline-primary.disabled {
        border-color: #0078d4;
        color: #0078d4;
    }
    /* Color match primary outline button hover */
    .btn-outline-primary:hover {
        background-color: #0078d4;
        border-color: #0078d4;
    }
    /* Fix color for outline light focus */
    .btn-outline-light:focus {
        color: #f8f9fa;
    }
    /* Fix color for outline light active */
    .btn-outline-light:active, .btn-outline-light:hover {
        color: #000;
    }
    /* Color match primary outline button focus */
    .btn-check:focus+.bs .btn-outline-primary, .btn-outline-primary:focus {
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.5);
    }
    /* Color match primary outline button active */
    .btn-check:checked+.bs .btn-outline-primary, .btn-check:active+.bs .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
        background-color: #004c86;
        border-color: #004c86;
    }
    /* Color match the primary button focus */
    .btn-check:focus+.btn-primary, .btn-primary:focus {
        background-color: #004c86;
        border-color: #004c86;
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.5);
    }
    /* Color match the primary button active */
    .bs .btn-check:checked+.btn-primary, .btn-check:active+.btn-primary, .btn-primary:active, .btn-primary.active, .show>.btn-primary.dropdown-toggle {
        background-color: #c4e4ff;
        border-color: #c4e4ff;
    }
    /* Color match the shadow on active */
    .btn-check:checked+.btn-primary:focus, .btn-check:active+.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show>.btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.5);
    }
    /* Color match dropdown hover */
    .dropdown-item:hover, .dropdown-item:focus {
        background-color: #dee2e6;
    }
    /* Color match dropdown active */
    .dropdown-item.active, .dropdown-item:active {
        background-color: #0078d4;
    }
    /** Color match the toggle background color to 'SharePoint Blue' */
    .form-check-input:checked {
        background-color: #0078d4;
        border-color: #0078d4;
    }
    /* Color match form-select active */
    .form-select:active, .form-select:focus {
        border-color: #2d8ad6;
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.25);
    }
    /* Color match the toggle on focus */
    .form-switch .form-check-input:focus {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%232d8ad6'/%3e%3c/svg%3e");
    }
    /* Update toggle to white after checked */
    .form-switch .form-check-input:checked {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    }
    /* Define a custom margin-start value */
    .ms-75 {
        margin-left: 0.75rem !important;
    }
    /* Fix padding on the nav links */
    .nav-link {
        padding: 0 !important;
    }
    /* Define a custom padding-top value */
    .pt-03 {
        padding-top: 0.3rem !important;
    }
    /* Color match the pagination link color to 'SharePoint Blue' */
    .page-link {
        border-color: #6c757d;
        color: #0078d4;
    }
    /* Color match the pagination active link colors */
    .page-item.active .page-link {
        background-color: #6c757d;
        border-color: #6c757d;
    }
    /* Color match the pagination disabled border colors */
    .page-item.disabled .page-link {
        border-color: #6c757d;
    }
    /* Color match for SharePoint */
    .page-link:focus {
        background-color: #dee2e6;
    }
    /* Color match for SharePoint */
    .page-link:hover {
        color: #333333;
        background-color: #dee2e6;
        border-color: #6c757d;
    }
    /* Color match for SharePoint */
    .page-link:focus, .form-control:focus, .form-check-input:focus {
        border-color: #2d8ad6;
        box-shadow: 0 0 0 0.25rem rgba(45,138,214,0.25);
        color: #333333;
    }
    /* Match the table header to the table footer; size & color */
    .table>:not(:last-child)>:last-child>* {
        border-bottom: 3px solid #dee2e6;
    }
    /* Match the table footer to the table header; size & color */
    .tbl-footer {
        border-bottom: 2px solid #dee2e6;
    }
    /* Add the default text color */
    .text-default {
        color: #333333;
    }
}

/* Set white background & alignment for footer */
#footer nav {
    background-color: #fff !important;
    padding: 0 !important;
    div.container-fluid {
        padding-right: 0.75rem;
    }
}
/* Assign styling to the loading-dialog */
#loading-dialog {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80vw;
    z-index: 2010;
    div.d-flex {
        align-items: center;
        background-color: #FFF;
        border-radius: 0.3rem;
        border: 1px solid rgba(0,0,0,0.2);
        background-clip: padding-box;
        margin: 30vh 30vw;
        div[role=status] {
            color: #0078d4 !important;
            height: 3rem;
            width: 3rem;
        }
    }
}
/* Assign styling to the loading-dialog-backdrop */
#loading-dialog-backdrop {
    background-color: #000;
    height: 100vh;
    left: 0px;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 2000;
}
/* Customize navigation alignment */
#navigation {
    margin-top: 1.25rem;
    nav {
        border-radius: 0.25rem 0.25rem 0 0;
        div.container-fluid {
            padding-right: 0.75rem;
        }
    }
}
/* Tooltip primary theme color */
.tippy-box[data-theme~='primary'] {
    background-color: #0078d4;
}
/* Tooltip primary theme color */
.tippy-box[data-theme~='primary'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #0078d4;
}
/* Tooltip primary theme color */
.tippy-box[data-theme~='primary'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #0078d4;
}
/* Tooltip primary theme color */
.tippy-box[data-theme~='primary'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #0078d4;
}
/* Tooltip primary theme color */
.tippy-box[data-theme~='primary'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #0078d4;
}
/* Tooltip secondary theme color */
.tippy-box[data-theme~='secondary'] {
    background-color: #6c757d;
}
/* Tooltip secondary theme color */
.tippy-box[data-theme~='secondary'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #6c757d;
}
/* Tooltip secondary theme color */
.tippy-box[data-theme~='secondary'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #6c757d;
}
/* Tooltip secondary theme color */
.tippy-box[data-theme~='secondary'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #6c757d;
}
/* Tooltip secondary theme color */
.tippy-box[data-theme~='secondary'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #6c757d;
}
/* Color match colReorder line */
div.DTCR_pointer {
    background-color: #0078d4;
}
